body {
  padding: 0;
  margin: 0;
  height: 100%;
  font: 150% sans-serif;
  color: #d92b48;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
}

header {
/*  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; */
  border-bottom: 4px solid #ff6511;
} 

header, main, footer {
  margin: 0 auto 8vh;
  width: 60%;
  max-width: 1440px;
}

footer {
  font-size: 75%;
  margin: 20vh auto 35vh;
}

section {
}

a {
  color: #d92b48;
  font-weight: bolder
}

.msg {
  font-size: 260%;
  font-weight: bold;
  padding-bottom: 10vh;
  text-transform: uppercase;
  font-family: serif;
}

#logo {
  color: #ff6511;
  text-transform: lowercase;
  font-weight: normal;
  letter-spacing: -.025em;
  font-size: 120%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} 
  
#logo em {
  font-style: normal;
  font-weight: bold;
}
#logo i {
  display: none;
}  

.soc li a {
  text-decoration: none;
  margin-right: 1em;
  font-weight: 900;
}

ul {
  padding: 0px;
  margin:  0px;
}  
li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: inline-block;
  line-height: 1.5;
}
.vertical li {
  display: block;
}

h4 {
  text-transform: uppercase;
}

.centered {
  text-align: center;
}

.logo h3 {
  font-family: sans-serif;
  text-transform: lowercase;
  margin: 0px;
  padding: 0px;
  letter-spacing: -.035em;
  font-size: 255%;
/*  -webkit-text-stroke: 1px white; */
}
.logo h3 i {
  opacity: .8;
  margin-left: -.25em;
  font-style: normal;
  font-weight: normal;
}

.col {
  display: inline-block;
  float: left;
}

.col:last-child {
  clear: both;
  float: none
}

.col:last-child::after {
  clear: both;
}


.col1 {
  width: 60%;
}
.col2 {
  width: 40%
}

.clear {
  clear: both;
}



#cookies-banner {
  position: fixed;
  left: 44px;
  bottom: 44px;
  opacity: .8;
  padding: 0 1em;
  line-height: 70px;
  height: 70px;
  border-radius: 20px;
  background: #eee;
  font-size: 70%;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0,.25);
  animation: fadeout 1s linear 10s forwards;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
} 
 

@media only screen and (max-width: 1050px) {
  body {
    font-size: 125%;
  }
  header, main, footer {
    margin: 0 auto 8vh;
    width: 90%;
  }
  .col1, .col2 {
    display: block;
    width: auto;
    float: none;
  }
  .col1 {
    margin-bottom: 4em
  }
  footer {
    display: none;
  }
}
